<div class="subnav">
    <ul class="navlist">
        <li><span class="myicon icon-user"></span>个人信息
            <ul class="subnavlist">
                <li><a class="font-color-gray1" href="#">修改密码</a></li>
                <li><a class="font-color-gray1" href="#">用户信息</a></li>
            </ul>
        </li>
        <li><span class="myicon icon-user"></span><span>用户管理</span>
          <ul class="subnavlist">
            <li><a class="font-color-gray1" href="#">全部用户</a></li>
          </ul>
        </li>
    </ul>
</div>